:root {
    --title-font-weight: 600;
    --info-items-pad-small: 3px 5px;
    --hover-bg-color: rgb(155, 155, 184, 0.8);
  }
  
  .info {
    margin-left: 0em;
    border-bottom: none;
  }
  .info-items {
    font-size: 11px;
    color: grey;
    cursor: pointer;
    margin: var(--info-items-pad-small);
    border-bottom: none;
  }
  .info-items:hover {
    text-decoration: underline;
  }
  .no-interest {
    text-decoration: line-through;
    color: black;
  }
  .no-interest::marker {
    color: rgb(248, 242, 242);
  }
  .link {
    margin-left: 0em;
    color: grey;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
  }
  .link:hover {
    text-decoration: underline;
  }
  .title {
    cursor: pointer;
    margin-left: 0em;
    font-size: 14px;
    list-style: none;
    border-bottom: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .button {
    background-color: rgb(196, 83, 83, 0.5);
    color: #fff;
    border-radius: 12px;
    border: none;
    margin-top: 10px;
    transition: background-color 500ms ease;
  }
  .button:hover {
    cursor: pointer;
    background-color: rgb(196, 83, 83);
  }